body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  background-image: url(/public/image/islamic4.jpg);
  background-size: cover;

  background-attachment: fixed;
  background-position: center;
}
.signUpContainer {
  background-color: #fff;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px none #000;
  padding: 40px 45px 100px;
  opacity: 5px;
  border-radius: 15px;
  backdrop-filter: blur(1.5px);
  background: rgba(66, 63, 101, 0.4);
}

.lable {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  padding: 10px; /* More space around the text */
  color: #ffffff;
}
::placeholder {
  color: white;
  font-size: 0.8rem;
}
input {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #000;
  background: transparent;
  outline: none; /* Remove focus outline */
  color: red;
  transition: border-bottom 0.2s ease-in-out; /* Smooth transition effect */
  margin-bottom: 3px;
  width: 90%;
}

input:focus {
  border-bottom: 2px solid #f00; /* Red border on focus */
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.register {
  margin-top: 15px;
  height: 40px;
  width: 100px;
  margin-left: 29%;
  background-color: rgb(240, 174, 19);
  color: #fff;
}
.loginLink {
  color: rgb(240, 174, 19);
}
